{% extends 'layout.html' %}

{% block title %}Graficos de interes{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block scripts %}
<script app="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#access").click(function(event){
            event.preventDefault();
            $("#side-bar").toggle();
        });
    });
</script>
{% endblock %}

{% block content %}
    <button id="access" class="mt-2 ml-2 relative flex-col xl:hidden lg:hidden md:flex sm:flex xs:flex xxs:flex">
        <svg
            class="md:w-12 md:h-12 xs:w-10 xs:h-10 xxs:h-9 sm:w-11 sm:h-11 fill-current inline-block"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            fill-rule="evenodd"
            d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
            ></path>
        </svg>
    </button>
    <div class="flex border-none px-7 max-[600px]:px-4 max-[825px]:px-1">
        <div id="side-bar" class="xl:relative lg:relative md:fixed sm:fixed xs:fixed xxs:fixed xl:ml-2 lg:ml-2 sm:ml-14 md:ml-14 xs:ml-12 xxs:ml-12 xl:flex lg:flex md:hidden sm:hidden xs:hidden xxs:hidden flex-col bg-clip-border rounded-xl bg-white text-gray-700 w-[18rem] h-[43rem] p-3 shadow-blue-gray-900/5 mt-3 max-[1024px]:mt-10 max-[1024px]:top-4 max-h-[calc(100vh-2rem)] overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
                <div class="mb-1 p-3">
                <h5 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-gray-900">Graficos de interes</h5>
                </div>
                <div tabindex="0" class="flex items-center w-full p-2 rounded-lg text-start leading-tight transition-all outline-none">
                    <a role="button" href="{{ url_for('graphics.graphic_scolarship_percentage') }}" class="bg-blue-300 hover:bg-blue-400 text-gray-700 font-semibold py-2 px-4 rounded">JyA Becados</a>
                </div>

                <div tabindex="0" class="flex items-center w-full p-2 rounded-lg text-start leading-tight transition-all outline-none">
                    <form  action="{{ url_for('graphics.graphic_collection_per_year' , year = year) }}" method="get">
                        <label for="year" class="block text-sm font-medium text-gray-700">Ingresos del año:</label>
                        <select name="year" id="year" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="bg-blue-300 hover:bg-blue-400 text-gray-700 font-semibold py-2 px-4 mt-2 rounded">Consultar ingresos</button>
                    </form>
                </div>

                <div tabindex="0" class="flex items-center w-full p-2 rounded-lg text-start leading-tight transition-all outline-none">
                    <a role="button" href="{{ url_for('graphics.graphic_disability_type') }}" class="bg-blue-300 hover:bg-blue-400 text-gray-700 font-semibold py-2 px-4 rounded">Tipos de discapacidad</a>
                </div>
                

            
                <div class="mb-1 p-3">
                    <h5 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-gray-900">Reportes de interes</h5>
                </div>

                <div tabindex="0" class="flex items-center w-full p-2 rounded-lg text-start leading-tight transition-all outline-none">
                    <a role="button" href="{{ url_for('reports.report_jobs_ranking') }}" class="bg-blue-300 hover:bg-blue-400 text-gray-700 font-semibold py-2 px-4 rounded">Ranking de trabajos</a>
                </div>

                <div tabindex="0" class="flex items-center w-full p-2 rounded-lg text-start leading-tight transition-all outline-none">
                    <a role="button" href="{{ url_for('reports.report_debtors') }}" class="bg-blue-300 hover:bg-blue-400 text-gray-700 font-semibold py-2 px-4 rounded">Registro de Deudores</a>
                </div>

                <div tabindex="0" class="flex items-center w-full p-2 rounded-lg text-start leading-tight transition-all outline-none">
                    <form action="{{ url_for('reports.report_payment_date', date = date) }}" method="get">
                        <label for="date" class="block text-sm font-medium text-gray-700">Pagos de la fecha:</label>
                        <input type="date" name="date" id="date" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                        <button type="submit" class="bg-blue-300 hover:bg-blue-400 text-gray-700 font-semibold py-2 px-4 mt-2 rounded">Consultar gastos</button>
                    </form>
                </div>




            <nav class="flex flex-col gap-1 min-w-[240px] p-2 font-sans text-base font-normal text-gray-700">
            </nav>
        </div>
        
            <div class="w-full p-4">
                <div class="w-full overflow-x-auto rounded-lg">
                    <div class="min-w-full mx-auto lg:w-3/4 max-[1000px]:w-full max-[825px]:ml-4 max-[480px]:ml-0.5">
                        {% if fig%}
                            {{ fig|safe }}
                        {% endif %}
                    </div>
                </div>
            </div>

{% endblock %}
