{% extends "layout.html" %}

{% block title %}Listado de Deudores{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block scripts %}
<script app="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#access").click(function(event){
            event.preventDefault();
            $("#side-bar").toggle();
        });
    });
</script>
{% endblock %}

{% block content %}
<button id="access" class="mt-2 ml-2 relative flex-col xl:hidden lg:hidden md:flex sm:flex xs:flex xxs:flex">
    <svg
        class="md:w-12 md:h-12 xs:w-10 xs:h-10 xxs:h-9 sm:w-11 sm:h-11 fill-current inline-block"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
</button>
<div class="flex border-none px-7 max-[600px]:px-4 max-[825px]:px-1">
    <div id="side-bar" class="xl:relative lg:relative md:fixed sm:fixed xs:fixed xxs:fixed xl:ml-2 lg:ml-2 sm:ml-14 md:ml-14 xs:ml-12 xxs:ml-12 xl:flex lg:flex md:hidden sm:hidden xs:hidden xxs:hidden flex-col bg-clip-border rounded-xl bg-white text-gray-700 w-[18rem] h-[43rem] p-3 shadow-blue-gray-900/5 mt-3 max-[1024px]:mt-10 max-[1024px]:top-4 max-h-[calc(100vh-2rem)] overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form action="{{ url_for('collections.collection_index_debts') }}" method="get">
        <div class="mb-1 p-3">
          <h5 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-gray-900">Listado de Deudores</h5>
        </div>
        <nav class="flex flex-col gap-1 min-w-[240px] p-2 font-sans text-base font-normal text-gray-700">
            {% if check_permissions(session,'collection_index') %}
            <div tabindex="0" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all outline-none">
                <a role="button" href="{{ url_for('collections.collection_index') }}" class="bg-blue-300 hover:bg-blue-400 text-gray-700 font-semibold py-2 px-4 rounded">Listado de Cobros</a>
            </div>
            {% endif %}
            <div tabindex="0" class="items-center w-full p-3 rounded-lg text-start leading-tight transition-all outline-none">
                <label for="start_date" class="block text-sm font-medium text-gray-700">Fecha de ingreso (Desde)</label>
                <input type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
            </div>
            <div tabindex="0" class="items-center w-full p-3 rounded-lg text-start leading-tight transition-all outline-none">
                <label for="end_date" class="block text-sm font-medium text-gray-700">Fecha de ingreso (Hasta):</label>
                <input type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
            </div>
            <div tabindex="0" class="items-center w-full p-3 rounded-lg text-start leading-tight transition-all outline-none">
                <label for="dni" class="block text-sm font-medium text-gray-700">Buscar por dni:</label>
                <input type="text" id="dni" name="dni" value="{{ request.args.get('dni', '') }}" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
            </div>
            <div role="listbox" tabindex="0" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all outline-none">
                <label for="order_by"
                class="block text-sm font-medium text-gray-700">Ordenar por fecha de pago:</label>
                <select id="order_by" name="order_by"
                class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm">
                    <option value="asc" {% if request.args.get('order_by') == 'asc' %}selected{% endif %}>Ascendente</option>
                    <option value="desc" {% if request.args.get('order_by') == 'desc' %}selected{% endif %}>Descendente</option>
                </select>
            </div>
            <div tabindex="0" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all outline-none ">
                <button type="submit" class="bg-blue-300 hover:bg-blue-400 text-gray-700 font-semibold py-2 px-4 rounded">Buscar</button>
            </div>
        </nav>
        </form>
    </div>
    {% if debtors %}
        <div class="w-full p-4">
            <div class="w-full overflow-x-auto rounded-lg">
                <div class="min-w-full mx-auto lg:w-3/4 max-[1000px]:w-full max-[825px]:ml-4 max-[480px]:ml-0.5">
                    <table class="w-full table-auto border-collapse bg-white text-left text-sm text-gray-500">
                    <thead class="bg-gray-50">
                        <tr>
                        <th scope="col" class="max-[480px]:space-x-0.5 max-[560px]:px-2 px-6 py-4 font-medium text-gray-900">DNI</th>
                        <th scope="col" class="max-[480px]:space-x-0.5 max-[735px]:hidden px-6 py-4 font-medium text-gray-900">Nombre</th>
                        <th scope="col" class="max-[480px]:space-x-0.5 max-[600px]:hidden px-6 py-4 font-medium text-gray-900">Fecha de Ingreso</th>
                        {% if check_permissions(session, 'collection_show_detail_debt') %}
                        <th scope="col" class="max-[480px]:space-x-0.5 max-[480px]:px-2 px-6 py-4 font-medium text-gray-900">Informacion</th>
                        {% endif%}
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                        {% for debtor in debtors %}
                        <tr class="hover:bg-gray-50">
                        <th class="flex gap-3 px-6 py-4 max-[560px]:w-[5%]  max-[560px]:px-2 font-normal text-gray-900">
                            <div class="text-sm">
                            <div class="font-medium text-gray-700">{{ debtor.dni }}</div>
                            </div>
                        </th>
                        <td class="max-[735px]:hidden px-6 py-4">{{ debtor.name }}</td>
                        <td class="max-[600px]:hidden px-6 py-4">{{ debtor.inserted_at }}</td>
                        {% if check_permissions(session, 'collection_show_detail_debt')%}
                        <td class="max-[480px]:px-2 px-6 py-4 max-[480px]:space-x-0.5">
                            <div class="flex gap-2">
                            <a href="{{ url_for('collections.collection_show_detail_debt', debtor_dni=debtor.dni) }}"
                                class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600">
                                ver más
                            </a>
                            </div>
                        </td>
                        {% endif%}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Botones de Paginación -->
        <div class="space-x-1.5 fixed bottom-0 w-full flex justify-center items-center mb-3">
            {% if page > 1 %}
                <a href="{{ url_for('collections.collection_index_debts', page=current_page - 1, start_date=request.args.get('start_date'), end_date=request.args.get('end_date'), order_by=request.args.get('order_by'), dni=request.args.get('dni')) }}"
                class="bg-blue-500 text-white py-2 px-4 mx-2 rounded">
                    Previo
                </a>
            {% else %}
                <a href="#" class="hidden" disabled>
                    Previo
                </a>
            {% endif %}

            {% if page < max_pages %}
                <a href="{{ url_for('collections.collecion_index_debts', page=current_page + 1, start_date=request.args.get('start_date'), end_date=request.args.get('end_date'), order_by=request.args.get('order_by'), dni=request.args.get('dni')) }}"
                class="bg-blue-500 text-white py-2 px-4 mx-2 rounded">
                    Siguiente
                </a>
            {% else %}
                <a href="#" class="hidden" disabled>
                    Siguiente
                </a>
            {% endif %}
        </div>
    {% else %}
        <div class="text-center pl-10 mt-10">
            <p class="text-lg">No hay deudores.</p>
        </div>
    {% endif %}

</div>

{% endblock %}