<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </head>
    <body  class="bg-sky-100">

        {% block navbar %}
        <div class="overflow-visible w-full min-w-full mx-auto">
            <div class="flex justify-between items-center bg-gray-100 p-1 shadow-md">

                <!-- Logo -->
                <div>
                    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logoCEDICA.png') }}" alt="Logo" class="max-[800px]:hidden pr-1 h-10"></a>
                    <div class="relative menu-logo"> 
                        <a href="#"><img src="{{ url_for('static', filename='images/logoCEDICA.png') }}" alt="Logo" class="min-[800px]:hidden pr-1 h-10"></a>
                        <div class="logo-dropdown-content absolute z-10 left-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg hidden">
                            <a href="{{ url_for('home') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Home</a>
                            {% if check_permissions(session,"post_index") %}
                            <a href="{{ url_for('posts.post_index') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Publicaciones</a>
                            {% endif %}
                            {% if check_permissions(session,"contacts_index") %}
                            <a href="{{ url_for('contacts.contacts_index') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Consultas</a>
                            {% endif %}
                            {% if check_permissions(session,"payment_index") %}
                            <a href="{{ url_for('payments.payment_index') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Pagos</a>
                            {% endif %}
                            {% if check_permissions(session,"collection_index") %}
                            <a href="{{ url_for('collections.collection_index') }}"  class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Cobros</a>
                            {% endif %}
                            {% if check_permissions(session,"riders_and_horsewomen_index") %}
                            <a href="{{ url_for('riders_and_horsewomen.riders_and_horsewomen_index') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">J&A</a>
                            {% endif %}
                            {% if check_permissions(session,"equestrian_index") %}
                            <a href="{{ url_for('equestrian.equestrian_index') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Ecuestre</a>
                            {% endif %}
                            {% if check_permissions(session,"team_member_index") %}
                            <a href="{{ url_for('team_members.team_member_index') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Equipo</a>
                            {% endif %}
                            {% if check_permissions(session,"user_index") %}
                            <a href="{{ url_for('users.user_index') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Usuarios</a>
                            {% endif %}
                            {% if check_permissions(session,"graphic_index") %}
                            <a href="{{ url_for('graphics.graphic_index') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Graficos</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Menú de navegación -->
                <div class="menu flex space-x-2">
                    {% if check_permissions(session,"post_index") %}
                    <a href="{{ url_for('posts.post_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Publicaciones</a>
                    {% endif %}
                    {% if check_permissions(session,"contacts_index") %}
                    <a href="{{ url_for('contacts.contacts_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Consultas</a>
                    {% endif %}
                    {% if check_permissions(session,"payment_index") %}
                    <a href="{{ url_for('payments.payment_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Pagos</a>
                    {% endif %}
                    {% if check_permissions(session,"collection_index") %}
                    <a href="{{ url_for('collections.collection_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Cobros</a>
                    {% endif %}
                    {% if check_permissions(session,"riders_and_horsewomen_index") %}
                    <a href="{{ url_for('riders_and_horsewomen.riders_and_horsewomen_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">J&A</a>
                    {% endif %}
                    {% if check_permissions(session,"equestrian_index") %}
                    <a href="{{ url_for('equestrian.equestrian_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Ecuestre</a>
                    {% endif %}
                    {% if check_permissions(session,"team_member_index") %}
                    <a href="{{ url_for('team_members.team_member_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Equipo</a>
                    {% endif %}
                    {% if check_permissions(session,"user_index") %}
                    <a href="{{ url_for('users.user_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Usuarios</a>
                    {% endif %}
                    {% if check_permissions(session,"graphic_index") %}
                    <a href="{{ url_for('graphics.graphic_index') }}" class="max-[800px]:hidden bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Graficos</a>
                    {% endif %}
                </div>

                <!-- Perfil de usuario -->
                <div class="user-menu relative">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-800 cursor-pointer" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20.8 21a8.38 8.38 0 0 0-7.8-4.5h-2c-3.6 0-6.7 2-7.8 4.5"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    <div class="dropdown-content absolute z-10 right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg hidden">
                        <a href="{{url_for('users.user_profile')}}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Perfil</a>
                        <a href="{{ url_for('auth.logout') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Cerrar sesión</a>
                    </div>
                </div>
            </div>
            <script>
                document.querySelector('.user-menu').addEventListener('click', function() {
                this.querySelector('.dropdown-content').classList.toggle('hidden');
                });
            </script>
            <script>
                document.querySelector('.menu-logo').addEventListener('click', function() {
                this.querySelector('.logo-dropdown-content').classList.toggle('hidden');
                });
            </script>
        </div>
        
        {% endblock %}
        <div class="relative">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="absolute z-10 top-4 w-full flex justify-center">
            <ul>
                {% for category, message in messages %}
                    <li>
                        {% if category == "message" %}
                        <div id="success-message" class=" flash-message flex bg-green-100 rounded-lg p-4 mb-4 text-sm text-green-700 max-w-sm mx-auto" role="alert">
                        {% else %}
                        <div id="error-message" class=" flash-message flex bg-red-100 rounded-lg p-4 mb-4 text-sm text-red-700 max-w-sm mx-auto" role="alert">
                        {% endif %}
                            <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                            <div>
                                <span class="font-medium"> ¡{{ message }}! </span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
        {% endif %}
        {% endwith %}
        <div>
            {% block content %}

            {% endblock %}
        </div>
        <div>{% block footer %}{% endblock %}</div>
    </body>

    <script>
        // Elimina los mensajes flash después de 5 segundos (individualmente)
        const messages = document.querySelectorAll('.flash-message');
    
        messages.forEach((message) => {
            setTimeout(() => {
                message.remove();
            }, 5000);
        });
    </script>
</html>